@import "../../index.scss";

.activeUser {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .userLeft {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .userIcon {
    width: 40px;
    height: 40px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @extend .font-14-18-500;
    color: $white;
  }

  .userInfo {
    h4 {
      @extend .font-14-18-400;
      color: $grey2;
      margin-bottom: 4px;
    }
    p {
      @extend .font-12-16-400;
      color: $black;
    }
  }

  span {
    @extend .font-12-16-400;
    color: $grey;
  }
}