@import "../../index.scss";

.title {
  @extend .font-24-31-500;
  margin-bottom: 40px;
}

.activity {

  .table {
    background: radial-gradient(
      88.23% 576.81% at 9.31% 19.67%,
      rgba(255, 255, 255, 0.51) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    clip-path: polygon(0 0, 98% 0, 100% 4%, 100% 100%, 2% 100%, 0 96%);

    &::before {
      z-index: -1;
      --stopPercentY: 1%;
      --stopDiag: 1.42%;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      clip-path: polygon(0 0, 98% 0, 100% 4%, 100% 100%, 2% 100%, 0 96%);
      background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
        linear-gradient(
          57deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          237deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
  
      @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            48deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            228deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
      @media screen and (min-width: 2560px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            38deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            218deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
    }
  }

  table {
    thead {
      tr {
        th {
          padding: 16px 24px !important;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 16px 24px !important;
        }
      }
    }
  }
  .date {
    @extend .font-14-18-400;
  }
  
  .user {
    display: flex;
    gap: 8px;
    align-items: center
  }

  .userIcon {
    width: 40px;
    height: 40px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @extend .font-14-18-500;
    color: $white;
  
    &.green {
      background-color: $green;
    }
    &.blue {
      background-color: $blue;
    }
    &.red {
      background-color: $red;
    }
    &.purple {
      background-color: $purple;
    }
    &.orange {
      background-color: $orange;
    }
    &.rose {
      background-color: $rose;
    }
  }
  
  .userInfo {
    h4 {
      @extend .font-14-18-500;
      margin-bottom: 2px;
    }
    p {
      @extend .font-14-18-400;
    }
  }
}