@import "../../index.scss";

.documentation {
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  
    .title {
      @extend .font-24-31-500;
    }
    .button {
      padding: 9.5px 12px;
    }
  }

  .tabs {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid $border-color;

    .tab {
      @extend .font-14-20-500;
      cursor: pointer;
      color: $grey2;
      min-width: 128px;
      text-align: center;
      padding: 26px 0;

      &:hover {
        border-bottom: 3px solid $pink;
        color: $black;
      }

      &.active {
        border-bottom: 3px solid $pink;
        color: $black;
      }
    }
  }

  .documentationTable {
    margin-top: 40px;
  }

  .table {
    &::before {
      z-index: -1;
      --stopPercentY: 1%;
      --stopDiag: 1.6%;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      clip-path: polygon(0 0, 98% 0, 100% 6%, 100% 100%, 2% 100%, 0 94%);
      background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
        linear-gradient(
          52deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          232deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
  
      @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            42deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            222deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
      @media screen and (min-width: 2560px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            32deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            213deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
    }

    table {
      tbody {
        td {
          height: 340px;

          &:last-of-type {
            border-bottom: none;
            div {
              display: contents;
            }
          }
        }
      }
    }
  }

  .noData {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    justify-content: center;

    p {
      @extend .font-14-20-500;
      text-align: center;
      color: $grey2;
    }
  }
}