@import "../../index.scss";

.modalOverlay {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #15122133;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.1));
  }

  .modalContent {
    padding: 46px 46px 34px;
    clip-path: polygon(0 0, 98% 0, 100% 0, 100% 100%, 15% 100%, 0 85%);
    background-color: $inner-background;

  }

  .modalClose {
    @extend .font-14-18-500;
    margin-top: 12px;
    padding: 12px;
    color: $black;
    border: none;
    background-color: $inner-background;
    cursor: pointer;
  }

  .save {
    padding: 12px;
    display: inline;
    margin-left: 12px;
  }

  .dropzone {
    border: 1px dotted $grey2;
    padding: 29px 83px;

    p {
      @extend .font-14-20-500;
      margin-top: 12px;
      color: $grey2;
      max-width: 165px;
    }

    ul {
      margin-top: 12px;
      @extend .font-14-20-500;
      li {
        list-style-type: none;
      }
    }
  }
}
