@import "../../index.scss";

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;

  .button {
    @extend .font-16-21-500;
    color: $black;
    background-color: $white;
    text-decoration: none;
    display: flex;
    padding: 8px 12px;
    gap: 8px;
    border: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    transition: ease 0.3s all;
    box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31);

    .icon {
      line-height: 0;
    }
  }
}

.backLink {
  @extend .font-24-31-500;
  text-decoration: none;
  color: $black;
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  transition: ease 0.3s;
  height: 41px;

  &:hover {
    color: $pink;

    svg {
      path {
        stroke: $pink;
      }
    }
  }

  svg {
    path {
      transition: ease 0.3s;
    }
  }

  .arrowIcon {
    line-height: 0;
  }
}

.content {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0));

  &::before {
    z-index: -1;
    --stopPercentY: 1%;
    --stopDiag: 1.6%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    clip-path: polygon(0 0, 97.5% 0, 100% 3%, 100% 100%, 3% 100%, 0 97%);
    background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
      linear-gradient(
        43deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(180deg, $border-color 1px, transparent 1px),
      linear-gradient(
        228deg,
        $border-color 1.45%,
        transparent 1.45%
      ),
      linear-gradient(270deg, $border-color 1px, transparent 1px),
      linear-gradient(0deg, $border-color 1px, transparent 4px);

    @media screen and (min-width: 1920px) {
      --stopDiag: 1.6%;
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          34deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          218.5deg,
          $border-color 1.43%,
          transparent 1.43%
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
    @media screen and (min-width: 2560px) {
      --stopDiag: 1.5%;
      clip-path: polygon(0 0, 98% 0, 100% 3.5%, 100% 100%, 2.5% 100%, 0 97%);
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          29.5deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          219.5deg,
          $border-color 1.36%,
          transparent 1.36%
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
  }
}

.innerContent {
  padding: 24px;
  background: radial-gradient(88.23% 576.81% at 9.31% 19.67%, rgba(255, 255, 255, 0.51) 0%, rgba(255, 255, 255, 0.252) 100%);
  clip-path: polygon(0 0, 97.5% 0, 100% 3%, 100% 100%, 3% 100%, 0 97%);
}

.analyticsGreenChart {
  background-color: $white;
  border: 1px solid $border-color;
  box-shadow: 0px 4px 12px 0px rgba(9, 30, 66, 0.1);

  .heading {
    padding: 19px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      @extend .font-16-21-500;
      text-decoration: none;
      color: $black;
      max-width: 305px;
      transition: ease 0.3s all;
    }

    div {
      display: flex;
      align-items: baseline;
      gap: 12px;
      color: $black;

      h2 {
        @extend .font-24-31-500;
      }

      span {
        @extend .font-16-21-500;
      }
    }
  }
}
.imageContainer {
  background-color: $white;
  text-align: center;
  padding: 32px;
  margin: 24px 0;
  box-shadow: 0px 2px 4px 0px rgba(35, 54, 58, 0.08);
}

.data {
  padding: 0 16px;
}

.singleItemInput {
  padding: 16px 24px;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: center;

  &:last-of-type {
    border: none;
  }

  h4 {
    @extend .font-14-18-500;
    color: $grey2;
    margin-bottom: 4px;
  }
  p {
    @extend .font-14-18-400;
    color: $black;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
      @extend .font-12-16-400;
      color: $black;
    }

    input {
      @extend .font-14-18-400;
      width: 200px;
      height: 40px;
      background-color: $white;
      padding: 12px;
      box-shadow: 0px 2px 8px 0px rgba(9, 30, 66, 0.12);
      border: none;
      caret-color: $pink;

      &:focus-visible {
        outline: none;
        box-shadow: 0px 0px 1px 0px rgba(255, 0, 168, 0.31),
          0px 2px 8px 0px rgba(255, 0, 168, 0.1);
      }
    }
  }
}
