@import "../../index.scss";

.title {
  @extend .font-24-31-500;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;

  .button {
    @extend .font-16-21-500;
    color: $black;
    background-color: $white;
    text-decoration: none;
    display: flex;
    padding: 8px 12px;
    gap: 8px;
    border: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    transition: ease 0.3s all;
    box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31);

    .icon {
      line-height: 0;
    }
  }
}

.imageContainer {
  background-color: $white;
  text-align: center;
  padding: 32px;
  margin-bottom: 24px;
  box-shadow: 0px 2px 4px 0px rgba(35, 54, 58, 0.08);

  img {
    width: 90%;
    height: 100%;
    object-fit: contain;
  }
}

.content {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0));

  &::before {
    z-index: -1;
    --stopPercentY: 1%;
    --stopDiag: 2.3%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    clip-path: polygon(0 0, 97% 0, 100% 8%, 100% 100%, 3% 100%, 0 92%);
    background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
      linear-gradient(
        54deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(180deg, $border-color 1px, transparent 1px),
      linear-gradient(
        233.5deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(270deg, $border-color 1px, transparent 1px),
      linear-gradient(0deg, $border-color 1px, transparent 4px);

    @media screen and (min-width: 1920px) {
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          44deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          224deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
    @media screen and (min-width: 2560px) {
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          34.5deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          214deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
  }
}

.innerContent {
  padding: 24px;
  background: radial-gradient(
    88.23% 576.81% at 9.31% 19.67%,
    rgba(255, 255, 255, 0.51) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  clip-path: polygon(0 0, 97% 0, 100% 8%, 100% 100%, 3% 100%, 0 92%);
}

.data {
  padding: 0 16px;
  margin-bottom: 40px;
}

.singleItemInput {
  padding: 16px 24px;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: center;

  &:last-of-type {
    border: none;
  }

  h4 {
    @extend .font-14-18-500;
    color: $grey2;
    margin-bottom: 4px;
  }
  p {
    @extend .font-14-18-400;
    color: $black;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
      @extend .font-12-16-400;
      color: $black;
    }

    input {
      @extend .font-14-18-400;
      width: 200px;
      height: 40px;
      background-color: $white;
      padding: 12px;
      box-shadow: 0px 2px 8px 0px rgba(9, 30, 66, 0.12);
      border: none;
      caret-color: $pink;

      &:focus-visible {
        outline: none;
        box-shadow: 0px 0px 1px 0px rgba(255, 0, 168, 0.31),
          0px 2px 8px 0px rgba(255, 0, 168, 0.1);
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.save {
  padding: 9.5px 12px;
}

.cancel {
  @extend .font-14-18-500;
  cursor: pointer;
  text-decoration: none;
  padding: 9.5px 12px;
  border: none;
  color: $black;
}
