.main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    .sidebar-container {
        background-color: #F4F6F8;
        position: sticky;
        z-index: 2;
        top: 0;
        left: 0;
    }
    &__content {
        flex-grow: 1;
        position: relative;
        background-color: #F4F6F8;
        overflow: hidden;
        min-height: 100vh;
        z-index: 1;
        &-children {
            padding: 24px 30px;
            position: relative;
            z-index: 3;
        }
        .gradient1 {
            width: 902px;
            height: 874px;
            flex-shrink: 0;

            border-radius: 902px;
            background: #FF00A8;

            mix-blend-mode: color;
            filter: blur(250px);
            position: fixed;
            top: -308px;
            left: -206px;
            z-index: 2;
            pointer-events: none;

        }
        .gradient2 {
            width: 932px;
            height: 1037px;
            flex-shrink: 0;

            border-radius: 1037px;
            background: #32FFC2;

            mix-blend-mode: color;
            filter: blur(250px);
            position: absolute;
            bottom: -502px;
            right: -368px;
            z-index: 2;
            pointer-events: none;
        }
    }
}