@import "../../index.scss";

.title {
  @extend .font-24-31-500;
  margin-bottom: 40px;
}

.name-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  .bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $orange2;
  }
}

.text {
  color: $black;
  @extend .font-14-18-400;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
