.name-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    .bullet {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FF5050;
    }
}

.text {
    color: var(--Secondary-Dark-Blue, #151221);
/* B2 Regular */
    font-family: "SpaceGrotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer
    }
}