@import "../../index.scss";

.feedstock {
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: relative;

    .datePickerContainer {
      display: flex;
      align-items: center;
      background-color: $white;
      box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31);
    }

    .divider {
      width: 1px;
      height: 24px;
      background-color: $border-color;
    }

    .datepicker {
      display: flex;
      align-items: center;

      span {
        @extend .font-16-21-500;
      }
      input {
        @extend .font-16-21-500;
        text-align: center;
        height: 40px;
        border: none;
        cursor: pointer;
        
        &:focus-visible {
          outline: none;
        }
      }
    }

    .moreOptions {
      padding: 8px 12px;
      color: $black;
      background-color: $white;
      cursor: pointer;
    }

    .hamburgerIcon {
      line-height: 0;
    }
  }
  .export {
    filter: drop-shadow(0px 1.5px 1.5px rgba(0, 0, 0, 0.25));
    position: absolute;
    right: 0;
    // bottom: -165px; for two buttons
    bottom: -115px;
    z-index: 1;
  }

  .exportWrapper {
    // clip-path: polygon(0 0, 87% 0, 100% 17%, 100% 100%, 13% 100%, 0 100%);
    clip-path: polygon(0 0, 90% 0, 100% 25%, 100% 100%, 13% 100%, 0 100%);
    background-color: $white;
    padding: 16px 12px;
    width: 312px;

    h4 {
      @extend .font-20-26-500;
      margin-bottom: 12px;
    }
    button {
      @extend .font-16-21-500;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $white;
      border: 1px solid $border-color;
      // margin: auto 0 8px auto; for two buttons
      margin: auto 0 0 auto;
      padding: 8px 12px;
      gap: 7px;
      width: 62%;
      text-decoration: none;
      cursor: pointer;

      .exportIcon {
        line-height: 0;
      }

      &:last-of-type {
        display: none;
        margin: auto 0 0 auto;
      }
    }
  }
  .backLink {
    @extend .font-24-31-500;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    transition: ease 0.3s;
    height: 40px;

    &:hover {
      color: $pink;

      svg {
        path {
          stroke: $pink;
        }
      }
    }

    svg {
      path {
        transition: ease 0.3s;
      }
    }

    .arrowIcon {
      line-height: 0;
    }
  }

  .tabs {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid $border-color;

    .tab {
      @extend .font-14-20-500;
      cursor: pointer;
      color: $grey2;
      width: 128px;
      text-align: center;
      padding: 26px 0;

      &:hover {
        border-bottom: 3px solid $pink;
        color: $black;
      }

      &.active {
        border-bottom: 3px solid $pink;
        color: $black;
      }
    }
  }
  .feedstockWrapper {
    filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0));
    margin-top: 32px;
  }

  .feedstockInfo {
    padding: 24px;
    margin-bottom: 24px;
    position: relative;
    background: radial-gradient(
      88.23% 576.81% at 9.31% 19.67%,
      rgba(255, 255, 255, 0.51) 0%,
      rgba(255, 255, 255, 0.252) 100%
    );
    clip-path: polygon(0 0, 98% 0, 100% 10%, 100% 100%, 2% 100%, 0 90%);

    &::before {
      --stopPercentY: 1%;
      --stopDiag: 1.78%;
      content: "";
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      clip-path: polygon(0 0, 98% 0, 100% 10%, 100% 100%, 2% 100%, 0 90%);
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          47deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          226deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);

      @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            37deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            217deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
      @media screen and (min-width: 2560px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            28deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            208deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
    }
  }

  .graph {
    padding: 24px;
    position: relative;
    margin-bottom: 24px;
    background: radial-gradient(
      88.23% 576.81% at 9.31% 19.67%,
      rgba(255, 255, 255, 0.51) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    clip-path: polygon(0 0, 98% 0, 100% 5%, 100% 100%, 2% 100%, 0 95%);

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      --stopPercentY: 1%;
      --stopDiag: 1.56%;
      content: "";
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      clip-path: polygon(0 0, 98% 0, 100% 5%, 100% 100%, 2% 100%, 0 95%);
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          55deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          235deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);

      @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            46deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            226deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
      @media screen and (min-width: 2560px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            37deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            216deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
    }
  }

  .rightTop {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
  }

  .singleItem {
    text-align: center;
    border: 1px solid $border-color;
    background-color: $white;
    padding: 32px 24px;

    p {
      @extend .font-14-18-400;
      color: $grey2;
      margin: 16px 0;
    }

    h5 {
      @extend .font-32-28-500;
      color: $black;

      span {
        @extend .font-24-28-400;
        color: $grey2;
      }
    }
  }

  .log {
    margin-top: 32px;

    .table {
      &::before {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            63deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            243deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);

        @media screen and (min-width: 1920px) {
          background-image: linear-gradient(
              90deg,
              $border-color 1px,
              transparent 1px
            ),
            linear-gradient(
              53deg,
              $border-color var(--stopDiag),
              transparent var(--stopDiag)
            ),
            linear-gradient(180deg, $border-color 1px, transparent 1px),
            linear-gradient(
              233deg,
              $border-color var(--stopDiag),
              transparent var(--stopDiag)
            ),
            linear-gradient(270deg, $border-color 1px, transparent 1px),
            linear-gradient(0deg, $border-color 1px, transparent 4px);
        }
        @media screen and (min-width: 2560px) {
          background-image: linear-gradient(
              90deg,
              $border-color 1px,
              transparent 1px
            ),
            linear-gradient(
              43deg,
              $border-color var(--stopDiag),
              transparent var(--stopDiag)
            ),
            linear-gradient(180deg, $border-color 1px, transparent 1px),
            linear-gradient(
              223deg,
              $border-color var(--stopDiag),
              transparent var(--stopDiag)
            ),
            linear-gradient(270deg, $border-color 1px, transparent 1px),
            linear-gradient(0deg, $border-color 1px, transparent 4px);
        }
      }
    }

    table {
      thead {
        tr {
          th {
            padding: 16px 24px;
          }
        }
      }
      tbody {
        background-color: $inner-background;
        tr {
          td {
            padding: 27px 24px;
          }
        }
      }
    }
    .timestamp,
    .quality {
      @extend .font-14-18-400;
      color: $black;
    }
  }
}
