@import "../../index.scss";

.cargoSensor {
  .backLink {
    @extend .font-24-31-500;
    margin-bottom: 16px;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    transition: ease 0.3s;

    &:hover {
      color: $pink;

      svg {
        path {
          stroke: $pink;
        }
      }
    }

    svg {
      path {
        transition: ease 0.3s;
      }
    }

    .arrowIcon {
      line-height: 0;
    }
  }

  .tabs {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid $border-color;

    .tab {
      @extend .font-14-20-500;
      cursor: pointer;
      color: $grey2;
      width: 128px;
      text-align: center;
      padding: 26px 0;

      &:hover {
        border-bottom: 3px solid $pink;
        color: $black;
      }

      &.active {
        border-bottom: 3px solid $pink;
        color: $black;
      }
    }
  }
  .cargoInfoWrapper {
    filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.1));
    margin-top: 32px;
  }

  .cargoInfo {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 16px;
    padding: 24px;
    clip-path: polygon(0 0, 98% 0, 100% 3%, 100% 100%, 2% 100%, 0 97%);
    background-color: $inner-background;
    &.df {
      display: block;
    }
    margin-bottom: 24px;
  }

  figure {
    img {
      height: 100%;
      width: 100%;
    }
  }
  .rightTop {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 10.6px));
    gap: 16px;
  }

  .singleItem {
    text-align: center;
    border: 1px solid $border-color;
    background-color: $white;
    padding: 20px 24px;

    p {
      @extend .font-14-18-400;
      color: $grey2;
      margin: 16px 0;
    }

    h5 {
      @extend .font-32-28-500;
      color: $black;

      span {
        @extend .font-24-28-400;
        color: $grey2;
      }
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
  }

  .rightBottom {
    padding: 20px 24px;
    border: 1px solid $border-color;
    background-color: $white;

    h4 {
      @extend .font-20-26-500;
      margin-bottom: 27px;
    }

    .loadInfo {
      display: flex;
      gap: 32px;
      align-items: center;

      p {
        @extend .font-14-18-400;
        color: $grey2;

        span {
          @extend .font-14-18-500;
          margin-left: 8px;
          color: $black;
        }
      }
    }
  }
}
