@import "../../index.scss";

.analytics {
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

    .title {
      @extend .font-24-31-500;
    }
    .rightButtons {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .datePickerContainer {
      display: flex;
      align-items: center;
      background-color: $white;
      box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31);
    }

    .divider {
      width: 1px;
      height: 24px;
      background-color: $border-color;
    }

    .datepicker {
      display: flex;
      align-items: center;

      span {
        @extend .font-16-21-500;
      }
      input {
        @extend .font-16-21-500;
        text-align: center;
        height: 40px;
        border: none;

        &:focus-visible {
          outline: none;
        }
      }
    }

    .moreOptions {
      padding: 8px 12px;
      color: $black;
      background-color: $white;
      cursor: pointer;
    }

    .hamburgerIcon {
      line-height: 0;
    }

    .export {
      filter: drop-shadow(0px 1.5px 1.5px rgba(0, 0, 0, 0.25));
      position: absolute;
      right: 0;
      bottom: -165px;
      z-index: 1;
    }

    .exportWrapper {
      clip-path: polygon(0 0, 87% 0, 100% 17%, 100% 100%, 13% 100%, 0 100%);
      background-color: $white;
      padding: 16px 12px;
      width: 312px;

      h4 {
        @extend .font-20-26-500;
        margin-bottom: 12px;
      }
      button {
        @extend .font-16-21-500;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $white;
        border: 1px solid $border-color;
        margin: auto 0 8px auto;
        padding: 8px 12px;
        gap: 7px;
        width: 62%;
        text-decoration: none;
        cursor: pointer;

        .icon {
          line-height: 0;
        }

        &:last-of-type {
          margin: auto 0 0 auto;
        }
      }
    }

    .button {
      @extend .font-16-21-500;
      color: $black;
      background-color: $white;
      text-decoration: none;
      display: flex;
      padding: 8px 12px;
      gap: 8px;
      border: none;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: fit-content;
      cursor: pointer;
      transition: ease 0.3s all;
      box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31);

      .icon {
        line-height: 0;
      }
    }
  }

  .content {
    filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0));

    &::before {
      z-index: -1;
      --stopPercentY: 1%;
      --stopDiag: 1%;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      clip-path: polygon(
        0 0,
        97.5% 0,
        100% 1.5%,
        100% 100%,
        2.5% 100%,
        0 98.5%
      );
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          47.5deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          227.5deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);

      @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            38deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            218deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
      @media screen and (min-width: 2560px) {
        --stopDiag: 1.05%;
        clip-path: polygon(0 0, 98% 0, 100% 2%, 100% 100%, 2% 100%, 0 98%);
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            42.5deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            222.5deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
    }
  }

  .innerContent {
    padding: 24px;
    clip-path: polygon(0 0, 97.5% 0, 100% 1.5%, 100% 100%, 2.5% 100%, 0 98.5%);
    background: radial-gradient(
      88.23% 576.81% at 9.31% 19.67%,
      rgba(255, 255, 255, 0.51) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    @media screen and (min-width: 2560px) {
      clip-path: polygon(0 0, 98% 0, 100% 2%, 100% 100%, 2% 100%, 0 98%);
    }
  }

  .statisticWrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, calc(33.33% - 26.66px));
    margin: 30px 0 24px;
  }
}

.analyticsGreenChart {
  background-color: $white;
  border: 1px solid $border-color;
  box-shadow: 0px 4px 12px 0px rgba(9, 30, 66, 0.1);

  .heading {
    padding: 19px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-gray;

    .projectLink {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      transition: ease 0.3s all;

      .icon {
        line-height: 0;
        path {
          transition: ease 0.3s all;
        }
      }

      &:hover {
        a {
          color: $pink;
        }
        .icon {
          path {
            stroke: $pink;
          }
        }
      }
    }

    a {
      @extend .font-16-21-500;
      text-decoration: none;
      color: $black;
      max-width: 305px;
      transition: ease 0.3s all;
    }

    div {
      display: flex;
      align-items: baseline;
      gap: 12px;
      color: $black;

      h2 {
        @extend .font-24-31-500;
      }

      span {
        @extend .font-16-21-500;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  row-gap: 30px;
  margin-top: 30px;
}
