@import "../../index.scss";

.analytics {
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .title {
      @extend .font-24-31-500;
    }
    .button {
      @extend .font-16-21-500;
      color: $black;
      background-color: $white;
      text-decoration: none;
      display: flex;
      padding: 8px 12px;
      gap: 8px;
      border: none;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: fit-content;
      cursor: pointer;
      transition: ease 0.3s all;
      box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31);

      .icon {
        line-height: 0;
      }
    }
  }

  .content {
    filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.1));
  }

  .innerContent {
    padding: 24px;
    clip-path: polygon(0 0, 98% 0, 100% 2%, 100% 100%, 2% 100%, 0 98%);
    background-color: #f9f9f9;
  }

  .statisticWrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, calc(33.33% - 26.66px));
    margin: 30px 0 24px;
  }
}

.analyticsGreenChart {
  background-color: $white;
  border: 1px solid $border-color;
  box-shadow: 0px 4px 12px 0px rgba(9, 30, 66, 0.1);

  .heading {
    padding: 19px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-gray;
    h3 {
      color: $black;
      max-width: 300px;
      @extend .font-16-21-500;
    }
    div {
      display: flex;
      align-items: baseline;
      gap: 12px;
      color: $black;

      h2 {
        @extend .font-24-31-500;
      }

      span {
        @extend .font-16-21-500;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  row-gap: 30px;
  margin-top: 30px;
}
