@import "../../index.scss";

.title {
  @extend .font-24-31-500;
  margin-bottom: 40px;
}

.content {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.innerContent {
  padding: 24px;
  clip-path: polygon(0 0, 98% 0, 100% 3%, 100% 100%, 2% 100%, 0 97%);
  background-color: $inner-background;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
