@import "../../index.scss";

.title {
  @extend .font-24-31-500;
  margin-bottom: 40px;
}

.content {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  gap: 24px;
  clip-path: polygon(0 0, 98% 0, 100% 3%, 100% 100%, 2% 100%, 0 97%);
  background: radial-gradient(
    88.23% 576.81% at 9.31% 19.67%,
    rgba(255, 255, 255, 0.51) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  &::before {
    z-index: -1;
    --stopPercentY: 1%;
    --stopDiag: 1.3%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    clip-path: polygon(0 0, 98% 0, 100% 3%, 100% 100%, 2% 100%, 0 97%);
    background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
      linear-gradient(
        47.5deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(180deg, $border-color 1px, transparent 1px),
      linear-gradient(
        227.5deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(270deg, $border-color 1px, transparent 1px),
      linear-gradient(0deg, $border-color 1px, transparent 4px);

    @media screen and (min-width: 1920px) {
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          40deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          220deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
    @media screen and (min-width: 2560px) {
      --stopDiag: 1.05%;
      clip-path: polygon(0 0, 98% 0, 100% 2%, 100% 100%, 2% 100%, 0 98%);
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          24deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          203deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
  }
}

.innerContent {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
