@import "../../index.scss";

.title {
  @extend .font-24-31-500;
  margin-bottom: 40px;
}

.content {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  gap: 24px;

  &::before {
    z-index: -1;
    --stopPercentY: 1%;
    --stopDiag: 1.6%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    clip-path: polygon(0 0, 98% 0, 100% 6%, 100% 100%, 2% 100%, 0 94%);
    background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
      linear-gradient(
        55deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(180deg, $border-color 1px, transparent 1px),
      linear-gradient(
        235deg,
        $border-color var(--stopDiag),
        transparent var(--stopDiag)
      ),
      linear-gradient(270deg, $border-color 1px, transparent 1px),
      linear-gradient(0deg, $border-color 1px, transparent 4px);

    @media screen and (min-width: 1920px) {
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          45deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          225deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
    @media screen and (min-width: 2560px) {
      background-image: linear-gradient(
          90deg,
          $border-color 1px,
          transparent 1px
        ),
        linear-gradient(
          35deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          216deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
    }
  }
}

.innerContent {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableTitle {
  @extend .font-24-31-500;
  color: $black;
  margin-bottom: 8px;
}

.userIcon {
  width: 40px;
  height: 40px;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @extend .font-14-18-500;
  color: $white;
}

.table {
  .tHead {
    background-color: transparent;
    th {
      padding: 0 0 16px 0;
      border-bottom: 1px solid $border-color;
      color: $black;
      @extend .font-14-18-500;
    }
  }

  .tBody {
    background-color: transparent;
    td {
      padding: 16px 0;
      border-bottom: 1px solid $border-color;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .num-of-items {
    color: $black;
    /* B2 Regular */
    font-family: "SpaceGrotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    button {
      @extend .font-12-16-400;
      color: $grey2;
      padding: 5px 10px;
      background-color: transparent;
      border: 1px solid $border-color;
      transition: background-color 0.4s ease, color 0.4s ease;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: $green;
        color: $white;
      }
    }
  }
}
