@import "../../index.scss";

.title {
  @extend .font-24-31-500;
  margin-bottom: 40px;
}

.content {
  filter: drop-shadow(-1px 3px 3px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.innerContent {
  padding: 24px;
  clip-path: polygon(0 0, 98% 0, 100% 3%, 100% 100%, 2% 100%, 0 97%);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableTitle {
  @extend .font-24-31-500;
  color: $black;
  margin-bottom: 8px;
}

.userIcon {
  width: 40px;
  height: 40px;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @extend .font-14-18-500;
  color: $white;
}

.table {
  .tHead {
    background-color: $inner-background;
    th {
      padding: 0 0 16px 0;
      border-bottom: 1px solid $border-color;
      color: $black;
      @extend .font-14-18-500;
    }
  }

  .tBody {
    background-color: $inner-background;
    td {
      padding: 16px 0;
      border-bottom: 1px solid $border-color;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .num-of-items {
    color: var(--Secondary-Dark-Blue, #151221);
    /* B2 Regular */
    font-family: "SpaceGrotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    button {
      color: var(--Secondary-Purple-Gray, #6F6C82);
      /* B3 Regular */
      font-family: "SpaceGrotesk";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 15.6px */
      letter-spacing: 0.42px;
      padding: 5px 10px;
      background-color: #D9E1E8;
      border: 1px solid var(--Secondary-Blueish-Gray, #D9E1E8);
      transition: background-color .4s ease, color .4s ease;
      cursor: pointer;
      &:hover, &.active {
        background-color: #0DCE95;
        color: #FFFFFF;
      }
    }
  }
}