@import "../../index.scss";

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .title {
    @extend .font-24-31-500;
  }
  .button {
    padding: 9.5px 12px;
  }
}

.users {
  .table {
    &::before {
      z-index: -1;
      --stopPercentY: 1%;
      --stopDiag: 1.6%;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      clip-path: polygon(0 0, 98% 0, 100% 6%, 100% 100%, 2% 100%, 0 94%);
      background-image: linear-gradient(90deg, $border-color 1px, transparent 1px),
        linear-gradient(
          53deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(180deg, $border-color 1px, transparent 1px),
        linear-gradient(
          233deg,
          $border-color var(--stopDiag),
          transparent var(--stopDiag)
        ),
        linear-gradient(270deg, $border-color 1px, transparent 1px),
        linear-gradient(0deg, $border-color 1px, transparent 4px);
  
      @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            43deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            223deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
      @media screen and (min-width: 2560px) {
        background-image: linear-gradient(
            90deg,
            $border-color 1px,
            transparent 1px
          ),
          linear-gradient(
            33deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(180deg, $border-color 1px, transparent 1px),
          linear-gradient(
            214deg,
            $border-color var(--stopDiag),
            transparent var(--stopDiag)
          ),
          linear-gradient(270deg, $border-color 1px, transparent 1px),
          linear-gradient(0deg, $border-color 1px, transparent 4px);
      }
    }
  }

  table {
    grid-template-columns:
      calc(25% - 20px) calc(15% - 20px) calc(25% - 20px) calc(35% - 20px)
      80px !important;
    overflow: visible !important;

    thead {
      tr {
        th {
          &:last-of-type {
            div {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }
          }
        }
      }
    }

    tbody {
      background-color: $inner-background;

      tr {
        &:last-of-type {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
  .name {
    @extend .font-14-18-500;
    color: $black;
  }

  .role,
  .lastLogin {
    @extend .font-14-18-400;
    color: $grey;
  }

  .permissions {
    div {
      display: flex;
      flex-direction: row;
      gap: 4px;
      overflow: scroll;
    }

    span {
      @extend .font-12-16-400;
      color: $pink;
      background-color: $border-color;
      padding: 4px 8px;
    }
  }

  .icon {
    text-align: right;
    position: relative;

    img {
      cursor: pointer;
    }

    .actionsWrapper {
      position: absolute;
      right: 2px;
      z-index: 1;
      filter: drop-shadow(0px 1.5px 1.5px rgba(0, 0, 0, 0.25));
      display: none;

      &.show {
        display: block;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      clip-path: polygon(0 0, 87% 0, 100% 22%, 100% 100%, 13% 100%, 0 100%);
      background-color: $white;
      width: 200px;
    }

    .edit, .remove {
      @extend .font-14-18-400;
      padding: 8px 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

    .edit {
      border-bottom: 1px solid $border-color;
    }

    .remove {
      color: $red2;
    }
  }
}
